body {
    background-color: darkgray;
    margin: 0;
}

.container {
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

.box-model {
    background-color: darkcyan;
    padding: 20px;
    margin-top: 20PX;
    border: 5px solid red;
    margin-bottom: 20px;
}

.box-model:hover {
    background-color: blueviolet;
}

.blocks {
    margin-bottom: 100px;
}


.blocks .block {
    width: 25%;
    /* width: calc(25% - 4px); */
    background-color: rgb(52, 23, 219);
    height: 50px;
    float: left;
    border: 2px solid green;
    box-sizing: border-box;   
}

.card {
background-color: rgb(153, 148, 148);
margin: 5px;
padding: 10px;
}

.card:hover {
    background-color: gold;
}

a {
    color: rgb(41, 39, 39);
    text-decoration: none;
}
 
a:hover {
    color: rgb(125, 8, 221);
}

.btn {
    background-color: black;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn:hover {
    color: red;
    opacity: 0.8;
}

.ret {
    padding: 20px;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: none;

}

.ret:hover {
    color: blue;
    background-color: brown;
}

.rih {
    background-color: white;
    margin: 10px;
    padding: 10px;
    
}

.list {
    list-style: none;
    margin-bottom: 30px;
    background-color: blue;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    border: 2px dashed red;
    
}

.list li {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.yyy {
    background-color: cadetblue;
}

.table {
    width: 100%;
    text-align: center;
}


.navbar {
    background-color: rgb(214, 19, 19);
    /* padding: 10px; */
    /* margin-bottom: 100px; */
    position: fixed;
    top: 00px;
    left: 0;
    right: 0;
}

.navbar ul {
    list-style: none;
    padding-left: 450px;
    margin: 0;
    display: flex ;
    
}

.navbar ul li {
    /* margin-right: 10px; */
    padding: 10px;
}

.navbar ul li:not(:last-child) {
    margin-right: 10px;
}

/* .navbar ul li:last-child {
    margin-right: 0px;
} */

.navbar ul li:hover {
    background-color: blue;
    
}

.disp {
    margin: 10px;
}

.inline li {
    display: inline;
}

.box {
    width: 33%;
    border: 1px solid black;
    background-color: burlywood;
    display: inline-block;
}

.img {
    width: 200px;
    display: block;
    margin: 40px auto;
}


.po {
    margin: 10px;
    background-color: white;
    padding: 20px;
    position: relative;
}

.posi {
    /* position: relative; */
    border: 4px solid black;
    height: 300PX;
    padding: 20px;
    
}

.pos-box {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    position: absolute; 
    top: 62px;
    left: 205px;
    
}

.pos-boxx {
    width: 50px;
    height: 50px;
    background-color: brown;
    position: absolute;
    top: 62px;
    left: 590px;
    /* position: fixed; */
}

.pos-boxxx {
    width: 50px;
    height: 50px;
    background-color: rgb(107, 207, 26);
    position: absolute;
    top: 62px;
    right: 205px;
}